body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 215, 140, 0.71);
}

header {
    background-color: #02a2dc;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    font-size: 30px;
    color: rgb(0, 0, 255);
}

section {
    margin: 20px 0;
}

footer {
    background-color: #02a2dc;
    padding: 10px;
    text-align: center;
}

.biodatadiri {
    font-weight: bold;
    color: crimson;
}

#pendidikan {
    text-decoration: underline;
}

[href*="instagram"] {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

[href*="facebook"] {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#skills p::first-letter {
    font-size: 40px;
}

section {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 0 5px #000000;
    margin: 20px;
}